body {
    font-family : 'Raleway', sans-serif;
    margin : 50px;
}

.vraag{
    font-weight: bold;
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

pre {
    font-family : 'Raleway', sans-serif !important;
}

.checklist li {
    list-style-type: "\2610   ";
}

.checked {
    list-style-image: url('../images/checkbox.svg');
}