.card {
    height: 200px;
    width: 150px;
    object-fit: cover;
    border: 4px solid lightpink;
    border-radius: 10px;
}

#playField {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.verwijder {
    visibility: hidden;
}

.juist {
    border: 4px solid darkseagreen;
}

.fout {
    border: 4px solid darkred;
}