/** Volgende CSS gaan we ze geven **/
* {
    margin: 0px;
    font-family: Helvetica, sans-serif;
}

.respimg {
    width: 100%;
    height: auto;
    display: block;
}

h1 {
    text-transform: uppercase;
    font-size: 2.5em;
    border-bottom: 2px solid black;
    color: black;
    padding-bottom: 100%;
    margin-bottom: 100%;
}